*{
  padding: 0;
  margin: 0;
}
input{
  margin-right: 10px !important;

}
.input-group{
  width: 900px !important;
  margin-left: 300px;
  margin-top: 20px;
  color: turquoise !important;
}
.filter{
  margin-right: 20px !important;
}
#select{
  background-color: palevioletred;
  border: none;
  height: 30px;
  border-radius: 10px;
}

ul{
  display: flex !important;
  list-style-type: none;
  justify-content: center;
  

}
.title{
  margin-right: 800px;
}
li{
  margin-top: 30px;
  font-size: 18px;
}
.button{
  margin: 0 0px 0px 150px;
}
.btn-primary{
  margin: 10px;
}
button{
  background-color: rgb(45, 151, 141) !important;
  color: white !important;
  border: none !important;
}
h3{
  text-align: center;
  color: rgb(45, 151, 123) !important;
  margin-top: 40px !important;
}
.col-md-4{
  margin-top: 40px !important;
  
}
.card{
  background-color: rgba(45, 151, 140, 0.389) !important; 
}
#select1{
  background-color: teal;
}
select{
  border: none !important;
}
b{
  margin-right: 10px !important;
}
.delete{
  background-color:sandybrown !important;
}
body{
  letter-spacing: 1px !important;
}